## 1. Write a python program which searches all the product under a particular product from www.amazon.in. The product to be searched will be taken as input from user. For e.g. If user input is ‘guitar’. Then search for guitars.

In [1]:
# imports
from selenium import webdriver
import time 
import warnings
warnings.filterwarnings("ignore")
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import ElementClickInterceptedException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
import pandas as pd
import requests

In [4]:
your_search =input("enter name: ")
your_search

enter name: watch

'watch'

## In the above question, now scrape the following details of each product listed in first 3 pages of your search results and save it in a data frame and csv. In case if any product has less than 3 pages in search results then scrape all the products available under that product name. Details to be scraped are: "Brand Name", "Name of the Product", "Price", "Return/Exchange", "Expected Delivery", "Availability" and “Product URL”. In case, if any of the details are missing for any of the product then replace it by “-“.

In [9]:
driver = webdriver.Chrome()
driver.get("https://www.amazon.in/")

time.sleep(5)
designation = driver.find_element(By.XPATH, '/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
designation.send_keys(your_search)

search=driver.find_element(By.XPATH, '/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

## 2. In the above question, now scrape the following details of each product listed in first 3 pages of your search results and save it in a data frame and csv. In case if any product has less than 3 pages in search results then scrape all the products available under that product name. Details to be scraped are: "Brand, Name", "Name of the Product", "Price", "Return/Exchange", "Expected Delivery", "Availability" and “Product URL”. In case, if any of the details are missing for any of the product then replace it by “-“.

In [ ]:
Product_URL = []
start = 0
end = 3

for page in range(start,end):
    scrape = driver.find_elements(By.XPATH, '//a[@class="a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal"]')
    for i in scrape:
        Product_URL.append(i.get_attribute("href"))
        
    next_bottom = driver.find_element(By.XPATH, '//a[@class="s-pagination-item s-pagination-next s-pagination-button s-pagination-separator"]')
    next_bottom.click()
    time.sleep(3)

In [10]:
len(Product_URL)

135

In [11]:
Brand = []
Price =[]
Expected_Delivery = []

scrape = driver.find_elements(By.XPATH, '')
    for i in scrape:
        Product_URL.append(i.get_attribute("href"))


for url in Product_URL:
    driver.get(url)
    time.sleep(2)
    
    try:
        brand = driver.find_element(By.XPATH, '/html/body/div[2]/div[2]/div[5]/div[1]/div[1]/div[2]/div[2]/div/div/div[1]/div[1]/div[2]/div[1]/div/h1/span')
        Brand.append(brand.text)
    except NoSuchElementException:
        Brand.append("-")
        
    try: 
        price = driver.find_element(By.XPATH, '/html/body/div[2]/div[2]/div[5]/div[1]/div[1]/div[2]/div[2]/div/div/div[2]/div[3]/div/div[1]/div/div/div/form/div/div/div/div/div[2]/div[1]/div/span[1]/span[2]/span[2]')
        Price.append(price.text)
    except NoSuchElementException:
        Price.append("-") 
        
    try: 
        expected_delivery = driver.find_element(By.XPATH, '/html/body/div[2]/div[2]/div[5]/div[1]/div[1]/div[2]/div[2]/div/div/div[2]/div[3]/div/div[1]/div/div/div/form/div/div/div/div/div[3]/div/div[2]/div[9]/div[1]/div/div/div[1]/span/span')
        Expected_Delivery.append(expected_delivery.text)
    except NoSuchElementException:
        Expected_Delivery.append("-")

In [12]:
print(len(Brand))
print(len(Price))
print(len(Expected_Delivery))

135
135
135

In [14]:
df = pd.DataFrame({"Brand name": Brand, " Price(₹)": Price, "Expected Delivery": Expected_Delivery, "Product url": Product_URL})
df

,Brand name,Price(₹),Expected Delivery,Product url
0,Fastrack Analog Men's Watch (Dial Colored Strap),"1,426","Saturday, 12 August",https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
1,Tommy Hilfiger Analog Men's Watch (Black Dial ...,"13,553","Sunday, 13 August",https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
2,Fastrack Casual Analog Dial Watch for Men,"1,335","Friday, 11 August",https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
3,-,-,-,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
4,-,-,-,https://www.amazon.in/beatXP-Bluetooth-Assista...
...,...,...,...,...
130,Seiko Men's Snkl45 Stainless Steel Automatic W...,"33,648",24 - 28 August,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
131,MJAGOLD,599,"Sunday, 13 August",https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
132,Seiko Men's SNK621K Automatic Stainless Steel ...,"24,461",14 - 17 August,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
133,Seiko Analog Blue Dial Men's Watch-SNKP17K1,"14,850","Saturday, 12 August",https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
134,-,-,-,https://aax-eu.amazon.in/x/c/RKBKLPEx6bWGmNjlP...

In [15]:
df.to_csv('df_scrape_amazon_in.csv', index=False)

## 3. Write a python program to access the search bar and search button on images.google.com and scrape 10 images each for keywords ‘fruits’, ‘cars’ and ‘Machine Learning’, ‘Guitar’, ‘Cakes’.

In [51]:
driver = webdriver.Chrome()
driver.get('https://www.google.com/imghp?hl=en&ogbl')
time.sleep(5)
button =driver.find_element(By.XPATH, '/html/body/div[2]/div[2]/div[3]/span/div/div/div/div[3]/div[1]/button[2]/div')
button.click()

In [52]:
designation = driver.find_element(By.CLASS_NAME, 'gLFyf')
designation.send_keys("fuits")
button = driver.find_element(By.XPATH, '//span[@class="z1asCe MZy1Rb"]')
button.click()

In [53]:
# Scroll down the page
for _ in range(20):
    driver.execute_script('window.scrollBy(0,100)')

    # Find image elements
images = driver.find_elements(By.XPATH, '//img[@class="rg_i Q4LuWd"]')

image_urls = []

# Extract image URLs from the elements
for image in images:
    source = image.get_attribute("src")
    if source is not None and source.startswith('http'):
        image_urls.append(source)

# Loop through image URLs and download images
for i in range(len(image_urls)):
    if i > 10:
        break  # Exit the loop after 10 images
    print("Downloading {0} of {1} images".format(i + 1, 10))
    response = requests.get(image_urls[i])
    with open(r"C:\Users\USER\assignment 3\image_{0}.jpg".format(i), "wb") as file:
        file.write(response.content)

        
# Close the WebDriver
driver.quit()

Downloading 1 of 10 images
Downloading 2 of 10 images
Downloading 3 of 10 images
Downloading 4 of 10 images
Downloading 5 of 10 images
Downloading 6 of 10 images

## 4. Write a python program to search for a smartphone(e.g.: Oneplus Nord, pixel 4A, etc.) on www.flipkart.com and scrape following details for all the search results displayed on 1st page. Details to be scraped: “Brand Name”, “Smartphone name”, “Colour”, “RAM”, “Storage(ROM)”, “Primary Camera”, “Secondary Camera”, “Display Size”, “Battery Capacity”, “Price”, “Product URL”. Incase if any of the details is missing then replace it by “- “. Save your results in a dataframe and CSV.

In [87]:
driver = webdriver.Chrome()
driver.get('https://www.flipkart.com/')
time.sleep(5)

try:
    button =driver.find_element(By.XPATH, '/html/body/div[2]/div/div/button')
    button.click()
except StaleElementReferenceException as e:
    print("Eception Raised: ", e)
    print("Refreshing the page!!")
    driver.get('https://www.flipkart.com/')
    
designation = driver.find_element(By.CLASS_NAME, '_3704LK')
designation.send_keys('Oneplus Nord')
button2 = driver.find_element(By.CLASS_NAME, 'L0Z3Pu')
button2.click()

In [88]:
Product_URL = []

product = driver.find_elements(By.XPATH, '//a[@class="_1fQZEK"]')

for i in product:
    Product_URL.append(i.get_attribute("href"))

element=driver.find_element(By.XPATH, '/html/body/div[1]/div/div[3]/div[1]/div[2]/div[2]/div/div/div/a/div[3]/div[1]/div[1]')
element.click()
time.sleep(3)

In [91]:
Brand_Name = []
Smartphone_name = []
Colour = []
RAM = []
Storage_ROM = []
Primary_Camera = []
Secondary_Camera = []
Display_Size = []
Battery_Capacity = []
Price = []


for url in Product_URL:
    driver.get(url)
    time.sleep(2)
    
    try:
        brand = driver.find_element(By.XPATH, '/html/body/div[1]/div/div[3]/div[1]/div[2]/div[2]/div/div[1]/h1/span')
        Brand_Name.append(brand.text)
    except NoSuchElementException:
        Brand_Name.append("-")
    
    try:
        brand = driver.find_element(By.XPATH, '/html/body/div[1]/div/div[3]/div[1]/div[2]/div[8]/div[4]/div/div[2]/div[1]/div[1]/table/tbody/tr[3]/td[2]/ul/li')
        Smartphone_name.append(brand.text)
    except NoSuchElementException:
        Smartphone_name.append("-")
        
    try:
        brand = driver.find_element(By.XPATH, '/html/body/div[1]/div/div[3]/div[1]/div[2]/div[8]/div[4]/div/div[2]/div[1]/div[1]/table/tbody/tr[4]/td[2]/ul/li')
        Colour.append(brand.text)
    except NoSuchElementException:
        Colour.append("-")
        
    try:
        brand = driver.find_element(By.XPATH, '/html/body/div[1]/div/div[3]/div[1]/div[2]/div[8]/div[4]/div/div[2]/div[1]/div[4]/table/tbody/tr[2]/td[2]/ul/li')
        RAM.append(brand.text)
    except NoSuchElementException:
        RAM.append("-")

In [93]:
print(len(Brand_Name))
print(len(Smartphone_name))
print(len(Colour))
print(len(RAM))
print(len(Product_URL))

24
24
24
24
24

In [94]:
pd.DataFrame({"Brand name": Brand_Name, "Smartphone name": Smartphone_name, "Colour": Colour, "Product Url": Product_URL})

,Brand name,Smartphone name,Colour,Product Url
0,"OnePlus Nord CE 2 Lite 5G (Black Dusk, 128 GB)...",-,-,https://www.flipkart.com/oneplus-nord-ce-2-lit...
1,"OnePlus Nord CE 2 Lite 5G (Blue Tide, 128 GB) ...",Nord CE 2 Lite 5G,Blue Tide,https://www.flipkart.com/oneplus-nord-ce-2-lit...
2,"OnePlus Nord 3 5G (Misty Green, 256 GB) (16 G...",Nord 3 5G,Misty Green,https://www.flipkart.com/oneplus-nord-3-5g-mis...
3,"OnePlus Nord 2T 5G (Gray Shadow, 128 GB) (8 G...",-,-,https://www.flipkart.com/oneplus-nord-2t-5g-gr...
4,"OnePlus Nord 3 5G (Tempest Gray, 128 GB) (8 G...",Nord 3 5G,Tempest Gray,https://www.flipkart.com/oneplus-nord-3-5g-tem...
5,"OnePlus Nord 2T 5G (Jade Fog, 128 GB) (8 GB RAM)",-,-,https://www.flipkart.com/oneplus-nord-2t-5g-ja...
6,"OnePlus Nord 3 5G (Tempest Gray, 256 GB) (16 ...",Nord 3 5G,Tempest Gray,https://www.flipkart.com/oneplus-nord-3-5g-tem...
7,"OnePlus Nord 2T 5G (Gray Shadow, 128 GB) (8 G...",-,-,https://www.flipkart.com/oneplus-nord-2t-5g-gr...
8,"OnePlus Nord 2T 5G (Jade Fog, 128 GB) (8 GB RAM)",-,-,https://www.flipkart.com/oneplus-nord-2t-5g-ja...
9,"OnePlus Nord 2 5G (Blue Haze, 128 GB) (6 GB RAM)",Nord 2 5G,Blue Haze,https://www.flipkart.com/oneplus-nord-2-5g-blu...
10,"OnePlus Nord 2 5G (Blue Haze, 256 GB) (12 GB ...",-,-,https://www.flipkart.com/oneplus-nord-2-5g-blu...
11,"OnePlus Nord 3 5G (Misty Green, 128 GB) (8 GB...",Nord 3 5G,Misty Green,https://www.flipkart.com/oneplus-nord-3-5g-mis...
12,"OnePlus Nord (Gray Onyx, 64 GB) (6 GB RAM)",Nord,Gray Onyx,https://www.flipkart.com/oneplus-nord-gray-ony...
13,"OnePlus NORD CE2 LITE 5G (Blue Tide, 128 GB) ...",-,-,https://www.flipkart.com/oneplus-nord-ce2-lite...
14,"OnePlus Nord (Blue Marble, 256 GB) (12 GB RAM)",Nord,Blue Marble,https://www.flipkart.com/oneplus-nord-blue-mar...
15,"OnePlus Nord (Blue Marble, 128 GB) (8 GB RAM)",Nord,Blue Marble,https://www.flipkart.com/oneplus-nord-blue-mar...
16,"OnePlus Nord (Gray Onyx, 128 GB) (8 GB RAM)",Nord,Gray Onyx,https://www.flipkart.com/oneplus-nord-gray-ony...
17,"OnePlus Nord 2 5G (Green Wood, 256 GB) (12 GB...",Nord 2 5G,Green Wood,https://www.flipkart.com/oneplus-nord-2-5g-gre...
18,"OnePlus Nord CE3 5G (Grey Shimmer, 256 GB) (1...",-,-,https://www.flipkart.com/oneplus-nord-ce3-5g-g...
19,"OnePlus Nord 2 5G (PAC-MAN, 256 GB) (12 GB RAM)",Nord 2 5G,PAC-MAN,https://www.flipkart.com/oneplus-nord-2-5g-pac...
20,"OnePlus Nord 2T 5G (Jade Fog, 256 GB) (12 GB ...",-,-,https://www.flipkart.com/oneplus-nord-2t-5g-ja...
21,"OnePlus Nord CE 5G (Blue Void, 128 GB) (8 GB ...",-,-,https://www.flipkart.com/oneplus-nord-ce-5g-bl...
22,"OnePlus Nord 2T 5G (Gray Shadow, 128 GB) (8 G...",-,-,https://www.flipkart.com/oneplus-nord-2t-5g-gr...
23,"OnePlus Nord 2T 5G (Gray Shadow, 128 GB) (8 G...",-,-,https://www.flipkart.com/oneplus-nord-2t-5g-gr...

## 5. Write a program to scrap geospatial coordinates (latitude, longitude) of a city searched on google maps.

In [37]:
driver = webdriver.Chrome()
driver.get('https://www.google.com/maps/@51.4623945,-0.999798,15z?entry=ttu')

In [40]:
time.sleep(5)
driver.find_element(By.XPATH, '/html/body/c-wiz/div/div/div/div[2]/div[1]/div[3]/div[1]/div[2]/form[1]/div/div/button/span').click()

In [11]:
designation = driver.find_element(By.XPATH, '/html/body/div[3]/div[8]/div[3]/div[1]/div[1]/div/div[2]/form/input')
designation.send_keys("London")

In [12]:
button_search = driver.find_element(By.XPATH, '/html/body/div[3]/div[8]/div[3]/div[1]/div[1]/div/div[2]/div[1]/button')
button_search.click()

In [14]:
import re

url_string = driver.current_url

# Regular expression pattern to match the coordinates
pattern = r'@([-0-9.]+),([-0-9.]+)'

matches = re.search(pattern, url_string)
if matches:
    latitude = matches.group(1)
    longitude = matches.group(2)
    print("Latitude:", latitude)
    print("Longitude:", longitude)
else:
    print("Coordinates not found in the URL.")

# Close the Selenium driver
driver.quit()

Latitude: 51.4623945
Longitude: -0.999798

## 6. Write a program to scrap all the available details of best gaming laptops from digit.in.

In [77]:
driver = webdriver.Chrome()
driver.get("https://www.digit.in/")

laptop = driver.find_element(By.XPATH, '/html/body/div[2]/div/ul/li[2]/span').click()
time.sleep(2)

best = driver.find_element(By.XPATH, '/html/body/div[2]/div/ul/li[2]/div[2]/div/div[1]/span[4]').click()

bestgaminglaptop = driver.find_element(By.XPATH, '/html/body/div[2]/div/ul/li[2]/div[2]/div/div[5]/div/div[2]/a/span').click()

Product_URL = []
Price = []
Model_name = []

product_url = driver.find_elements(By.XPATH, '//span[@class="datahreflink"]')

for i in product_url:
    Product_URL.append(i.get_attribute('data-href'))
    
for url in Product_URL:
    driver.get(url)
    time.sleep(2)
    
    try:
        scrape = driver.find_element(By.XPATH, '/html/body/div[7]/div[2]/div[9]/div/div[1]/div[1]/table/tbody/tr[1]/td[3]')
        Model_name.append(scrape.text)
    except NoSuchElementException:
        Model_name.append("-")
        
    try:
        scrape = driver.find_element(By.XPATH, '/html/body/div[7]/div[2]/div[3]/div[2]/div[4]/div/h2/strong')
        Price.append(scrape.text)
    except NoSuchElementException:
        Price.append("-")
    
    try:
        scrape = driver.find_element(By.XPATH, '/html/body/div[7]/div[2]/div[2]/h1')
        Model_name.append(scrape.text)
    except NoSuchElementException:
        Model_name.append("-")

In [74]:
print(len(Price))
print(len(Product_URL))
print(len(Model_name))

9
9
18

In [78]:
Model_name = Model_name[0:9]

In [76]:
pd.DataFrame({"Model name": Model_name,"Product Url": Product_URL, "Price": Price})

,Model name,Product Url,Price
0,Omen 17,https://www.digit.in/laptops/hp-omen-17-ck2008...,"₹ 269,777"
1,HP Omen 17-ck2008TX 13th Gen Core i7-13700HX,https://www.digit.in/laptops/msi-gt77-titan-12...,"₹ 499,990"
2,-,https://www.digit.in/laptops/lenovo-legion-5i-...,"₹ 218,000"
3,MSI GT77 Titan 12UHS-054IN 12th Gen Core i9-12...,https://www.digit.in/laptops/asus-rog-strix-sc...,"₹ 279,990"
4,-,https://www.digit.in/laptops/acer-predator-hel...,"₹ 149,990"
5,Lenovo Legion 5i Pro 12th Gen Core i7-12700H (...,https://www.digit.in/laptops/asus-rog-zephyrus...,"₹ 156,990"
6,-,https://www.digit.in/laptops/msi-cyborg-15-12t...,"₹ 130,990"
7,ASUS ROG Strix Scar 18 G834JZ-N5041WS 13th Gen...,https://store.digit.in/store/,-
8,-,https://store.digit.in/subscribe/,-

## 7. Write a python program to scrape the details for all billionaires from www.forbes.com. Details to be scrapped: “Rank”, “Name”, “Net worth”, “Age”, “Citizenship”, “Source”, “Industry”.

In [124]:

driver = webdriver.Chrome()

driver.get('https://www.forbes.com/')


delay = 10
WebDriverWait(driver, delay).until(EC.presence_of_element_located((By.ID, 'globalHeaderMenu')))


press = driver.find_element(By.ID, 'globalHeaderMenu')
press.click()

time.sleep(10)

In [126]:
billionaires = driver.find_element(By.XPATH, '/html/body/div[1]/header/nav/div[1]/div[1]/div/div[2]/ul/li[2]/div[1]').click()

In [132]:
worlds = driver.find_element(By.XPATH, '/html/body/div[1]/div/main/div/section/div[2]/div/div/div[1]/div/div[1]/div/a/div/img').click()

In [133]:
all_billionaires = []
scrape = driver.find_elements(By.XPATH, '//div[@class="TableRow_row__L-0Km"]')

for i in scrape:
    all_billionaires.append(i.text.split("\n"))

all_billionaires

[['2',
  'Elon Musk',
  '$180 B',
  '51',
  'United States',
  'Tesla, SpaceX',
  'Automotive'],
 ['3', 'Jeff Bezos', '$114 B', '59', 'United States', 'Amazon', 'Technology'],
 ['4',
  'Larry Ellison',
  '$107 B',
  '78',
  'United States',
  'Oracle',
  'Technology'],
 ['5',
  'Warren Buffett',
  '$106 B',
  '92',
  'United States',
  'Berkshire Hathaway',
  'Finance & Investments'],
 ['6',
  'Bill Gates',
  '$104 B',
  '67',
  'United States',
  'Microsoft',
  'Technology'],
 ['7',
  'Michael Bloomberg',
  '$94.5 B',
  '81',
  'United States',
  'Bloomberg LP',
  'Media & Entertainment'],
 ['8',
  'Carlos Slim Helu & family',
  '$93 B',
  '83',
  'Mexico',
  'Telecom',
  'Telecom'],
 ['9',
  'Mukesh Ambani',
  '$83.4 B',
  '65',
  'India',
  'Diversified',
  'Diversified'],
 ['10',
  'Steve Ballmer',
  '$80.7 B',
  '67',
  'United States',
  'Microsoft',
  'Technology'],
 ['11',
  'Francoise Bettencourt Meyers & family',
  '$80.5 B',
  '69',
  'France',
  "L'Oréal",
  'Fashion & Retail'],
 ['12',
  'Larry Page',
  '$79.2 B',
  '50',
  'United States',
  'Google',
  'Technology'],
 ['13',
  'Amancio Ortega',
  '$77.3 B',
  '87',
  'Spain',
  'Zara',
  'Fashion & Retail'],
 ['14', 'Sergey Brin', '$76 B', '49', 'United States', 'Google', 'Technology'],
 ['15',
  'Zhong Shanshan',
  '$68 B',
  '68',
  'China',
  'Beverages, pharmaceuticals',
  'Food & Beverage'],
 ['16',
  'Mark Zuckerberg',
  '$64.4 B',
  '38',
  'United States',
  'Facebook',
  'Technology'],
 ['17',
  'Charles Koch',
  '$59 B',
  '87',
  'United States',
  'Koch Industries',
  'Diversified'],
 ['17',
  'Julia Koch & family',
  '$59 B',
  '60',
  'United States',
  'Koch Industries',
  'Diversified'],
 ['19',
  'Jim Walton',
  '$58.8 B',
  '74',
  'United States',
  'Walmart',
  'Fashion & Retail'],
 ['20',
  'Rob Walton',
  '$57.6 B',
  '78',
  'United States',
  'Walmart',
  'Fashion & Retail'],
 ['21',
  'Alice Walton',
  '$56.7 B',
  '73',
  'United States',
  'Walmart',
  'Fashion & Retail'],
 ['22',
  'David Thomson & family',
  '$54.4 B',
  '65',
  'Canada',
  'Media',
  'Media & Entertainment'],
 ['23',
  'Michael Dell',
  '$50.1 B',
  '58',
  'United States',
  'Dell Technologies',
  'Technology'],
 ['24',
  'Gautam Adani',
  '$47.2 B',
  '60',
  'India',
  'Infrastructure, commodities',
  'Diversified'],
 ['25',
  'Phil Knight & family',
  '$45.1 B',
  '85',
  'United States',
  'Nike',
  'Fashion & Retail'],
 ['26', 'Zhang Yiming', '$45 B', '39', 'China', 'TikTok', 'Technology'],
 ['27',
  'Dieter Schwarz',
  '$42.9 B',
  '83',
  'Germany',
  'Retail',
  'Fashion & Retail'],
 ['28',
  'François Pinault & family',
  '$40.1 B',
  '86',
  'France',
  'Luxury goods',
  'Fashion & Retail'],
 ['29',
  'Klaus-Michael Kuehne',
  '$39.1 B',
  '85',
  'Germany',
  'Shipping',
  'Logistics'],
 ['30',
  'Giovanni Ferrero',
  '$38.9 B',
  '58',
  'Italy',
  'Nutella, chocolates',
  'Food & Beverage'],
 ['31',
  'Jacqueline Mars',
  '$38.3 B',
  '83',
  'United States',
  'Candy, pet food',
  'Food & Beverage'],
 ['31',
  'John Mars',
  '$38.3 B',
  '87',
  'United States',
  'Candy, pet food',
  'Food & Beverage'],
 ['33',
  'Li Ka-shing',
  '$38 B',
  '94',
  'Hong Kong',
  'Diversified',
  'Diversified'],
 ['34',
  'Ma Huateng',
  '$35.3 B',
  '51',
  'China',
  'Internet media',
  'Technology'],
 ['35',
  'Miriam Adelson & family',
  '$35 B',
  '77',
  'United States',
  'Casinos',
  'Gambling & Casinos'],
 ['35',
  'Ken Griffin',
  '$35 B',
  '54',
  'United States',
  'Hedge funds',
  'Finance & Investments'],
 ['37',
  'Mark Mateschitz',
  '$34.7 B',
  '30',
  'Austria',
  'Red Bull',
  'Food & Beverage'],
 ['38', 'Robin Zeng', '$33.4 B', '54', 'Hong Kong', 'Batteries', 'Automotive'],
 ['39',
  'Tadashi Yanai & family',
  '$32.6 B',
  '74',
  'Japan',
  'Fashion retail',
  'Fashion & Retail'],
 ['40',
  'Len Blavatnik',
  '$32.1 B',
  '65',
  'United States',
  'Music, chemicals',
  'Diversified'],
 ['41',
  'Alain Wertheimer',
  '$31.6 B',
  '74',
  'France',
  'Chanel',
  'Fashion & Retail'],
 ['41',
  'Gerard Wertheimer',
  '$31.6 B',
  '72',
  'France',
  'Chanel',
  'Fashion & Retail'],
 ['43',
  'Gianluigi Aponte',
  '$31.2 B',
  '82',
  'Switzerland',
  'Shipping',
  'Logistics'],
 ['43',
  'Rafaela Aponte-Diamant',
  '$31.2 B',
  '78',
  'Switzerland',
  'Shipping',
  'Logistics'],
 ['45',
  'Colin Zheng Huang',
  '$30.2 B',
  '43',
  'China',
  'E-commerce',
  'Technology'],
 ['46',
  'Reinhold Wuerth & family',
  '$29.7 B',
  '87',
  'Germany',
  'Fasteners',
  'Manufacturing'],
 ['47',
  'Lee Shau Kee',
  '$29.5 B',
  '95',
  'Hong Kong',
  'Real estate',
  'Real Estate'],
 ['48',
  'Jeff Yass',
  '$28.5 B',
  '64',
  'United States',
  'Trading, investments',
  'Finance & Investments'],
 ['49',
  'Jim Simons',
  '$28.1 B',
  '84',
  'United States',
  'Hedge funds',
  'Finance & Investments'],
 ['50',
  'Stephen Schwarzman',
  '$27.8 B',
  '76',
  'United States',
  'Investments',
  'Finance & Investments'],
 ['51',
  'Susanne Klatten',
  '$27.4 B',
  '60',
  'Germany',
  'BMW, pharmaceuticals',
  'Automotive'],
 ['52',
  'Gina Rinehart',
  '$27 B',
  '69',
  'Australia',
  'Mining',
  'Metals & Mining'],
 ['53',
  'William Lei Ding',
  '$26.7 B',
  '51',
  'China',
  'Online games',
  'Technology'],
 ['54',
  'Germán Larrea Mota Velasco & family',
  '$26.6 B',
  '69',
  'Mexico',
  'Mining',
  'Metals & Mining'],
 ['55',
  'Shiv Nadar',
  '$25.6 B',
  '77',
  'India',
  'Software services',
  'Technology'],
 ['56', 'Low Tuck Kwong', '$25.5 B', '74', 'Indonesia', 'Coal', 'Energy'],
 ['57',
  'Thomas Peterffy',
  '$25.3 B',
  '78',
  'United States',
  'Discount brokerage',
  'Finance & Investments'],
 ['58',
  'Andrey Melnichenko & family',
  '$25.2 B',
  '51',
  'Russia',
  'Fertilizers, coal',
  'Metals & Mining'],
 ['59', 'Stefan Quandt', '$24.6 B', '56', 'Germany', 'BMW', 'Automotive'],
 ['60',
  'MacKenzie Scott',
  '$24.4 B',
  '52',
  'United States',
  'Amazon',
  'Technology'],
 ['61',
  'R. Budi Hartono',
  '$24.2 B',
  '82',
  'Indonesia',
  'Banking, tobacco',
  'Finance & Investments'],
 ['62',
  'Vladimir Potanin',
  '$23.7 B',
  '62',
  'Russia',
  'Metals',
  'Metals & Mining'],
 ['63', 'Jack Ma', '$23.5 B', '58', 'China', 'E-commerce', 'Technology'],
 ['64',
  'He Xiangjian & family',
  '$23.4 B',
  '80',
  'China',
  'Home appliances',
  'Manufacturing'],
 ['65',
  'Iris Fontbona & family',
  '$23.1 B',
  '80',
  'Chile',
  'Mining',
  'Metals & Mining'],
 ['65',
  'Michael Hartono',
  '$23.1 B',
  '83',
  'Indonesia',
  'Banking, tobacco',
  'Manufacturing'],
 ['67',
  'James Ratcliffe',
  '$22.9 B',
  '70',
  'United Kingdom',
  'Chemicals',
  'Manufacturing'],
 ['68',
  'Cyrus Poonawalla',
  '$22.6 B',
  '81',
  'India',
  'Vaccines',
  'Healthcare'],
 ['69',
  'Masayoshi Son',
  '$22.4 B',
  '65',
  'Japan',
  'Internet, telecom',
  'Telecom'],
 ['70',
  'Vladimir Lisin',
  '$22.1 B',
  '66',
  'Russia',
  'Steel, transport',
  'Metals & Mining'],
 ['71',
  'Emmanuel Besnier',
  '$22 B',
  '52',
  'France',
  'Cheese',
  'Food & Beverage'],
 ['72',
  'Abigail Johnson',
  '$21.6 B',
  '61',
  'United States',
  'Fidelity',
  'Finance & Investments'],
 ['72',
  'Leonid Mikhelson & family',
  '$21.6 B',
  '67',
  'Russia',
  'Gas, chemicals',
  'Energy'],
 ['74',
  'Lukas Walton',
  '$21.2 B',
  '36',
  'United States',
  'Walmart',
  'Fashion & Retail'],
 ['74', 'Wang Wei', '$21.2 B', '52', 'China', 'Package delivery', 'Service'],
 ['76',
  'Jensen Huang',
  '$21.1 B',
  '60',
  'United States',
  'Semiconductors',
  'Technology'],
 ['77',
  'Leonard Lauder',
  '$21 B',
  '90',
  'United States',
  'Estee Lauder',
  'Fashion & Retail'],
 ['77',
  'Takemitsu Takizaki',
  '$21 B',
  '77',
  'Japan',
  'Sensors',
  'Manufacturing'],
 ['79',
  'Alexey Mordashov & family',
  '$20.9 B',
  '57',
  'Russia',
  'Steel, investments',
  'Metals & Mining'],
 ['80', 'Vagit Alekperov', '$20.5 B', '72', 'Russia', 'Oil', 'Energy'],
 ['81',
  'Thomas Frist, Jr. & family',
  '$20.2 B',
  '84',
  'United States',
  'Hospitals',
  'Healthcare'],
 ['82',
  'Andrew Forrest',
  '$19.6 B',
  '61',
  'Australia',
  'Mining',
  'Metals & Mining'],
 ['83',
  'Ray Dalio',
  '$19.1 B',
  '73',
  'United States',
  'Hedge funds',
  'Finance & Investments'],
 ['84', 'Li Eric', '$19 B', '59', 'China', 'Automobiles', 'Automotive'],
 ['84',
  'Wang Wenyin',
  '$19 B',
  '55',
  'China',
  'Mining, copper products',
  'Metals & Mining'],
 ['86',
  'Eyal Ofer',
  '$18.9 B',
  '72',
  'Israel',
  'Real estate, shipping',
  'Diversified'],
 ['86',
  'Qin Yinglin',
  '$18.9 B',
  '57',
  'China',
  'Pig breeding',
  'Food & Beverage'],
 ['88',
  'Wang Chuanfu',
  '$18.7 B',
  '57',
  'China',
  'Batteries, automobiles',
  'Automotive'],
 ['89',
  'Harold Hamm & family',
  '$18.5 B',
  '77',
  'United States',
  'Oil & gas',
  'Energy'],
 ['89',
  'David Tepper',
  '$18.5 B',
  '65',
  'United States',
  'Hedge funds',
  'Finance & Investments'],
 ['89', 'Gennady Timchenko', '$18.5 B', '70', 'Russia', 'Oil, gas', 'Energy'],
 ['92',
  'Daniel Gilbert',
  '$18 B',
  '61',
  'United States',
  'Quicken Loans',
  'Finance & Investments'],
 ['93',
  'Lakshmi Mittal',
  '$17.7 B',
  '72',
  'India',
  'Steel',
  'Metals & Mining'],
 ['94',
  'Steve Cohen',
  '$17.5 B',
  '66',
  'United States',
  'Hedge funds',
  'Finance & Investments'],
 ['94',
  'Carl Icahn',
  '$17.5 B',
  '87',
  'United States',
  'Investments',
  'Finance & Investments'],
 ['94',
  'Savitri Jindal & family',
  '$17.5 B',
  '73',
  'India',
  'Steel',
  'Metals & Mining'],
 ['97',
  'Donald Bren',
  '$17.4 B',
  '90',
  'United States',
  'Real estate',
  'Real Estate'],
 ['97',
  'John Menard, Jr.',
  '$17.4 B',
  '83',
  'United States',
  'Home improvement stores',
  'Fashion & Retail'],
 ['99',
  'Rupert Murdoch & family',
  '$17.1 B',
  '92',
  'United States',
  'Newspapers, TV network',
  'Media & Entertainment'],
 ['100',
  'Vicky Safra & family',
  '$16.7 B',
  '70',
  'Brazil',
  'Banking',
  'Finance & Investments'],
 ['101',
  'Theo Albrecht, Jr. & family',
  '$16.5 B',
  '72',
  'Germany',
  "Aldi, Trader Joe's",
  'Fashion & Retail'],
 ['101',
  'Renata Kellnerova & family',
  '$16.5 B',
  '55',
  'Czech Republic',
  'Finance, telecommunications',
  'Finance & Investments'],
 ['103',
  'Li Xiting',
  '$16.3 B',
  '72',
  'Singapore',
  'medical devices',
  'Healthcare'],
 ['104',
  'Stefan Persson',
  '$16.2 B',
  '75',
  'Sweden',
  'H&M',
  'Fashion & Retail'],
 ['104',
  'Eric Schmidt',
  '$16.2 B',
  '67',
  'United States',
  'Google',
  'Technology'],
 ['106',
  'Michael Platt',
  '$16 B',
  '55',
  'United Kingdom',
  'Hedge funds',
  'Finance & Investments'],
 ['107',
  'Pang Kang',
  '$15.9 B',
  '67',
  'China',
  'Soy sauce',
  'Food & Beverage'],
 ['108',
  'Karl Albrecht Jr. & family',
  '$15.8 B',
  'N/A',
  'Germany',
  'Supermarkets',
  'Fashion & Retail'],
 ['108',
  'Beate Heister',
  '$15.8 B',
  'N/A',
  'Germany',
  'Supermarkets',
  'Fashion & Retail'],
 ['108',
  'Jorge Paulo Lemann & family',
  '$15.8 B',
  '83',
  'Brazil',
  'Beer',
  'Food & Beverage'],
 ['108',
  'Peter Woo',
  '$15.8 B',
  '76',
  'Hong Kong',
  'Real estate',
  'Real Estate'],
 ['112',
  'Dilip Shanghvi',
  '$15.6 B',
  '67',
  'India',
  'Pharmaceuticals',
  'Healthcare'],
 ['113',
  'Robert Pera',
  '$15.5 B',
  '45',
  'United States',
  'Wireless networking',
  'Technology'],
 ['114',
  'Radhakishan Damani',
  '$15.3 B',
  '68',
  'India',
  'Retail, investments',
  'Fashion & Retail'],
 ['115', 'Huang Shilin', '$15.2 B', '56', 'China', 'Batteries', 'Automotive'],
 ['116',
  'Dhanin Chearavanont',
  '$14.9 B',
  '83',
  'Thailand',
  'Diversified',
  'Diversified'],
 ['116',
  'David Green & family',
  '$14.9 B',
  '81',
  'United States',
  'Retail',
  'Fashion & Retail'],
 ['118',
  'Charoen Sirivadhanabhakdi',
  '$14.8 B',
  '78',
  'Thailand',
  'Alcohol, real estate',
  'Food & Beverage'],
 ['119',
  'Charlene de Carvalho-Heineken & family',
  '$14.7 B',
  '68',
  'Netherlands',
  'Heineken',
  'Food & Beverage'],
 ['120',
  'Xu Hang',
  '$14.6 B',
  '56',
  'Hong Kong',
  'Medical devices',
  'Healthcare'],
 ['121',
  'Wei Jianjun & family',
  '$14.5 B',
  '59',
  'China',
  'Automobiles',
  'Automotive'],
 ['122',
  'Alisher Usmanov',
  '$14.4 B',
  '69',
  'Russia',
  'Steel, telecom, investments',
  'Metals & Mining'],
 ['123',
  'Goh Cheng Liang',
  '$14.3 B',
  '95',
  'Singapore',
  'Paints',
  'Manufacturing'],
 ['124',
  'Kumar Birla',
  '$14.2 B',
  '55',
  'India',
  'Commodities',
  'Diversified'],
 ['124',
  'Aliko Dangote',
  '$14.2 B',
  '65',
  'Nigeria',
  'Cement, sugar',
  'Manufacturing'],
 ['126',
  'Kwong Siu-hing',
  '$14.1 B',
  '93',
  'Hong Kong',
  'Real estate',
  'Real Estate'],
 ['127', 'Idan Ofer', '$14 B', '67', 'Israel', 'Shipping', 'Diversified'],
 ['128', 'Chen Bang', '$13.9 B', '57', 'China', 'Hospitals', 'Healthcare'],
 ['128',
  'Lui Che Woo',
  '$13.9 B',
  '94',
  'Hong Kong',
  'Casinos/hotels',
  'Gambling & Casinos'],
 ['130',
  'John Fredriksen',
  '$13.7 B',
  '78',
  'Cyprus',
  'Shipping',
  'Logistics'],
 ['130',
  'Diane Hendricks',
  '$13.7 B',
  '76',
  'United States',
  'Building supplies',
  'Construction & Engineering'],
 ['130',
  'Jan Koum',
  '$13.7 B',
  '47',
  'United States',
  'WhatsApp',
  'Technology'],
 ['133',
  'Jerry Jones',
  '$13.3 B',
  '80',
  'United States',
  'Dallas Cowboys',
  'Sports'],
 ['133',
  'George Kaiser',
  '$13.3 B',
  '80',
  'United States',
  'Oil & gas, banking',
  'Energy'],
 ['133',
  'Joseph Lau',
  '$13.3 B',
  '71',
  'Hong Kong',
  'Real estate',
  'Real Estate'],
 ['136',
  'Lu Xiangyang',
  '$13.2 B',
  '60',
  'China',
  'Automobiles, batteries',
  'Automotive'],
 ['137',
  'Harry Triguboff',
  '$13.1 B',
  '90',
  'Australia',
  'Real estate',
  'Real Estate'],
 ['138',
  'Uday Kotak',
  '$12.9 B',
  '64',
  'India',
  'Banking',
  'Finance & Investments'],
 ['138',
  'Stanley Kroenke',
  '$12.9 B',
  '75',
  'United States',
  'Sports, real estate',
  'Sports'],
 ['140',
  'Mikhail Fridman',
  '$12.6 B',
  '58',
  'Russia',
  'Oil, banking, telecom',
  'Energy'],
 ['141', 'Sarath Ratanavadi', '$12.3 B', '57', 'Thailand', 'Energy', 'Energy'],
 ['142', 'Dang Yanbao', '$12.2 B', '50', 'China', 'Coal', 'Metals & Mining'],
 ['142',
  'Jiang Rensheng & family',
  '$12.2 B',
  '69',
  'China',
  'Vaccines',
  'Healthcare'],
 ['144',
  'Shahid Khan',
  '$12.1 B',
  '72',
  'United States',
  'Auto parts',
  'Automotive'],
 ['145',
  'Laurene Powell Jobs & family',
  '$12 B',
  '59',
  'United States',
  'Apple, Disney',
  'Technology'],
 ['146',
  'Robert Kuok',
  '$11.8 B',
  '99',
  'Malaysia',
  'Palm oil, shipping, property',
  'Diversified'],
 ['147',
  'Stephen Ross',
  '$11.6 B',
  '82',
  'United States',
  'Real estate',
  'Real Estate'],
 ['148',
  'Pavel Durov',
  '$11.5 B',
  '38',
  'United Arab Emirates',
  'Messaging app',
  'Technology'],
 ['148',
  'Andreas Struengmann & family',
  '$11.5 B',
  '73',
  'Germany',
  'Pharmaceuticals',
  'Healthcare'],
 ['148',
  'Thomas Struengmann & family',
  '$11.5 B',
  '73',
  'Germany',
  'Pharmaceuticals',
  'Healthcare'],
 ['151',
  'Liu Hanyuan',
  '$11.4 B',
  '59',
  'China',
  'Agribusiness',
  'Food & Beverage'],
 ['151',
  'Michael Rubin',
  '$11.4 B',
  '50',
  'United States',
  'Online retail',
  'Fashion & Retail'],
 ['153',
  'Israel Englander',
  '$11.3 B',
  '74',
  'United States',
  'Hedge funds',
  'Finance & Investments'],
 ['153',
  'Viatcheslav Kantor',
  '$11.3 B',
  '69',
  'Russia',
  'Fertilizer, real estate',
  'Manufacturing'],
 ['153',
  'Anthony Pratt',
  '$11.3 B',
  '62',
  'Australia',
  'Manufacturing',
  'Manufacturing'],
 ['153',
  'Mikhail Prokhorov',
  '$11.3 B',
  '57',
  'Russia',
  'Investments',
  'Finance & Investments'],
 ['157',
  'Giorgio Armani',
  '$11.1 B',
  '88',
  'Italy',
  'Luxury goods',
  'Fashion & Retail'],
 ['157',
  'Johann Rupert & family',
  '$11.1 B',
  '72',
  'South Africa',
  'Luxury goods',
  'Fashion & Retail'],
 ['159',
  'Gong Hongjia & family',
  '$11 B',
  '58',
  'Hong Kong',
  'Video surveillance',
  'Finance & Investments'],
 ['159',
  'Zhang Zhidong',
  '$11 B',
  '51',
  'China',
  'Internet media',
  'Technology'],
 ['161',
  'Philip Anschutz',
  '$10.9 B',
  '83',
  'United States',
  'Energy, sports, entertainment',
  'Finance & Investments'],
 ['161',
  'Judy Love & family',
  '$10.9 B',
  '85',
  'United States',
  'Gas stations',
  'Fashion & Retail'],
 ['161',
  'Ricardo Salinas Pliego & family',
  '$10.9 B',
  '67',
  'Mexico',
  'Retail, media',
  'Fashion & Retail'],
 ['164',
  'Donald Newhouse',
  '$10.7 B',
  '93',
  'United States',
  'Media',
  'Media & Entertainment'],
 ['165',
  'Robert Kraft',
  '$10.6 B',
  '81',
  'United States',
  'Manufacturing, New England Patriots',
  'Sports'],
 ['165',
  'Marcel Herrmann Telles',
  '$10.6 B',
  '73',
  'Brazil',
  'Beer',
  'Food & Beverage'],
 ['167',
  'Suleiman Kerimov & family',
  '$10.5 B',
  '57',
  'Russia',
  'Gold',
  'Finance & Investments'],
 ['167',
  'Chris Xu',
  '$10.5 B',
  '39',
  'China',
  'E-commerce',
  'Fashion & Retail'],
 ['167',
  'Changpeng Zhao',
  '$10.5 B',
  '45',
  'Canada',
  'Cryptocurrency exchange',
  'Finance & Investments'],
 ['170',
  'Andrew Beal',
  '$10.3 B',
  '70',
  'United States',
  'Banks, real estate',
  'Finance & Investments'],
 ['171',
  'Mike Cannon-Brookes',
  '$10.2 B',
  '43',
  'Australia',
  'Software',
  'Technology'],
 ['171',
  'Carl Cook',
  '$10.2 B',
  '60',
  'United States',
  'Medical devices',
  'Healthcare'],
 ['171',
  'David Duffield',
  '$10.2 B',
  '82',
  'United States',
  'Business software',
  'Technology'],
 ['171',
  'Jeffery Hildebrand',
  '$10.2 B',
  '64',
  'United States',
  'Oil',
  'Energy'],
 ['171',
  'Viktor Rashnikov',
  '$10.2 B',
  '74',
  'Russia',
  'Steel',
  'Manufacturing'],
 ['171',
  'Eduardo Saverin',
  '$10.2 B',
  '41',
  'Brazil',
  'Facebook',
  'Technology'],
 ['171',
  'Georg Schaeffler',
  '$10.2 B',
  '58',
  'Germany',
  'Auto parts',
  'Automotive'],
 ['171',
  'Christy Walton',
  '$10.2 B',
  '74',
  'United States',
  'Walmart',
  'Fashion & Retail'],
 ['179',
  'Scott Farquhar',
  '$10.1 B',
  '43',
  'Australia',
  'Software',
  'Technology'],
 ['179',
  'Quek Leng Chan',
  '$10.1 B',
  '81',
  'Malaysia',
  'Banking, property',
  'Diversified'],
 ['179', 'Wu Yajun', '$10.1 B', '59', 'China', 'Real estate', 'Real Estate'],
 ['182', 'Autry Stephens', '$10 B', '85', 'United States', 'Oil', 'Energy'],
 ['183', 'Liu Yongxing', '$9.9 B', '74', 'China', 'Diversified', 'Service'],
 ['184',
  'Vinod Adani',
  '$9.8 B',
  '74',
  'Cyprus',
  'Infrastructure, commodities',
  'Diversified'],
 ['184',
  'Nicolas Puech',
  '$9.8 B',
  '80',
  'France',
  'Hermes',
  'Fashion & Retail'],
 ['184',
  'Jacques Saadé, Jr.',
  '$9.8 B',
  '51',
  'France',
  'Shipping',
  'Logistics'],
 ['184', 'Rodolphe Saadé', '$9.8 B', '53', 'France', 'Shipping', 'Logistics'],
 ['184',
  'Tanya Saadé Zeenny',
  '$9.8 B',
  '55',
  'France',
  'Shipping',
  'Logistics'],
 ['184',
  'Melker Schorling & family',
  '$9.8 B',
  '75',
  'Sweden',
  'Investments',
  'Finance & Investments'],
 ['190',
  'Andrei Guriev & family',
  '$9.7 B',
  '63',
  'Russia',
  'Fertilizers',
  'Manufacturing'],
 ['190',
  'Michael Kim',
  '$9.7 B',
  '59',
  'United States',
  'Private equity',
  'Finance & Investments'],
 ['190', 'Lei Jun', '$9.7 B', '53', 'China', 'Smartphones', 'Technology'],
 ['190',
  'Friedhelm Loh',
  '$9.7 B',
  '76',
  'Germany',
  'Manufacturing',
  'Manufacturing'],
 ['190',
  'Sun Piaoyang',
  '$9.7 B',
  '64',
  'China',
  'Pharmaceuticals',
  'Healthcare'],
 ['195',
  'Rick Cohen & family',
  '$9.6 B',
  '70',
  'United States',
  'Warehouse automation',
  'Technology'],
 ['195', 'Jin Baofang', '$9.6 B', '70', 'China', 'Solar panels', 'Energy'],
 ['195',
  'Luo Liguo & family',
  '$9.6 B',

In [138]:
data_2 = pd.DataFrame(all_billionaires, columns=["RANK", "NAME", "NET WORTH", "AGE", "COUNTRY / TERRITORY", "SOURCE", "INDUSTRY"])
data_2

,RANK,NAME,NET WORTH,AGE,COUNTRY / TERRITORY,SOURCE,INDUSTRY
0,2,Elon Musk,$180 B,51,United States,"Tesla, SpaceX",Automotive
1,3,Jeff Bezos,$114 B,59,United States,Amazon,Technology
2,4,Larry Ellison,$107 B,78,United States,Oracle,Technology
3,5,Warren Buffett,$106 B,92,United States,Berkshire Hathaway,Finance & Investments
4,6,Bill Gates,$104 B,67,United States,Microsoft,Technology
...,...,...,...,...,...,...,...
194,195,Jin Baofang,$9.6 B,70,China,Solar panels,Energy
195,195,Luo Liguo & family,$9.6 B,67,China,Chemicals,Manufacturing
196,195,Marijke Mars,$9.6 B,58,United States,"Candy, pet food",Food & Beverage
197,195,Pamela Mars,$9.6 B,62,United States,"Candy, pet food",Food & Beverage
198,195,Valerie Mars,$9.6 B,64,United States,"Candy, pet food",Food & Beverage

In [135]:
first = []
scrape2 = driver.find_elements(By.XPATH, '/html/body/div[1]/div[2]/div[3]/div[2]/div[2]/div[2]/div[1]/div[1]/div[1]/div[2]/div[1]/div[1]')
for i in scrape2:
    first.append(i.text.split("\n"))
first

[['1',
  'Bernard Arnault & family',
  '$211 B',
  '74',
  'France',
  'LVMH',
  'Fashion & Retail']]

In [137]:
data = pd.DataFrame(first, columns=["RANK", "NAME", "NET WORTH", "AGE", "COUNTRY / TERRITORY", "SOURCE", "INDUSTRY"])
data

,RANK,NAME,NET WORTH,AGE,COUNTRY / TERRITORY,SOURCE,INDUSTRY
0,1,Bernard Arnault & family,$211 B,74,France,LVMH,Fashion & Retail

In [140]:
pd.concat([data, data_2], ignore_index=True)

,RANK,NAME,NET WORTH,AGE,COUNTRY / TERRITORY,SOURCE,INDUSTRY
0,1,Bernard Arnault & family,$211 B,74,France,LVMH,Fashion & Retail
1,2,Elon Musk,$180 B,51,United States,"Tesla, SpaceX",Automotive
2,3,Jeff Bezos,$114 B,59,United States,Amazon,Technology
3,4,Larry Ellison,$107 B,78,United States,Oracle,Technology
4,5,Warren Buffett,$106 B,92,United States,Berkshire Hathaway,Finance & Investments
...,...,...,...,...,...,...,...
195,195,Jin Baofang,$9.6 B,70,China,Solar panels,Energy
196,195,Luo Liguo & family,$9.6 B,67,China,Chemicals,Manufacturing
197,195,Marijke Mars,$9.6 B,58,United States,"Candy, pet food",Food & Beverage
198,195,Pamela Mars,$9.6 B,62,United States,"Candy, pet food",Food & Beverage
199,195,Valerie Mars,$9.6 B,64,United States,"Candy, pet food",Food & Beverage

## 8. Write a program to extract at least 500 Comments, Comment upvote and time when comment was posted from any YouTube Video.

In [2]:
driver = webdriver.Chrome()
driver.get("https://www.youtube.com/watch?v=9jYtODX22ZY&t=729s")
time.sleep(10)
driver.find_element(By.XPATH, '/html/body/ytd-app/ytd-consent-bump-v2-lightbox/tp-yt-paper-dialog/div[4]/div[2]/div[6]/div[1]/ytd-button-renderer[2]/yt-button-shape/button/yt-touch-feedback-shape/div/div[2]').click()

In [19]:
# Scroll down the page
for _ in range(500):
    driver.execute_script('window.scrollBy(0,10000)')

Comments = []


scrape = driver.find_elements(By.XPATH, '//*[@id="content-text"]')
for i in scrape:
    Comments.append(i.text)

    
for i in range(len(Comments)):
    if i > 500:
        break  # Exit the loop after 10 images

In [20]:
len(Comments)

678

In [21]:
Time = []


scrape = driver.find_elements(By.XPATH, '//*[@id="header-author"]/yt-formatted-string/a')
for i in scrape:
    Time.append(i.text)

    
for i in range(len(Time)):
    if i > 500:
        break  # Exit the loop after 10 images

In [22]:
len(Time)

678

In [23]:
pd.DataFrame({"Comments":Comments, "Time":Time})

                                              Comments                   Time
0    I was just saved a few days ago and was living...           3 months ago
1    I love how he presents this message. No scream...           3 months ago
2    “Love can be sinful”, like when directed at wr...           4 months ago
3    Sermons like this is why Voddie Baucham is one...           4 months ago
4           SOMEONE HAS TO TELL THE CHURCH THE TRUTH!!           4 months ago
..                                                 ...                    ...
673  Run from this false teacher!! Voddie isn't a C...           4 months ago
674  I get confused because this guy's always weari...           3 months ago
675  You. Will be a good preacher only ifyou. Stop....           4 months ago
676  lose the WORDLY SUIT.\nThe western suit is a u...  4 months ago (edited)
677  because everyone is admiring you , start talki...           4 months ago

[678 rows x 2 columns]

## 9. Write a python program to scrape a data for all available Hostels from https://www.hostelworld.com/ in “London” location. You have to scrape hostel name, distance from city centre, ratings, total reviews, overall reviews, privates from price, dorms from price, facilities and property description.

In [31]:
driver = webdriver.Chrome()
driver.get("https://www.hostelworld.com/")
time.sleep(5)
driver.find_element(By.XPATH, '/html/body/div[3]/div/div/div[4]/div/div/div[2]/button[2]').click()
search_box = driver.find_element(By.XPATH, '/html/body/div[3]/div/div/div[2]/div[2]/div[2]/div/div/div/div[1]/div[1]/div/div[2]/input')
search_box.send_keys("London")

In [34]:
driver.find_element(By.XPATH, '/html/body/div[3]/div/div/div[2]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/ul/li[2]/button').click()

In [ ]:
driver.find_element(By.XPATH, '/html/body/div[3]/div/div/div[2]/div[2]/div[2]/div/div/div/div[5]/button').click()